.nav-tabs {
	border-bottom: 2px solid #ddd;
}

.nav-tabs .container .nav-link:active,
.nav-tabs .container .nav-link:hover {
	border: none;
	-webkit-box-shadow: inset 0 -1px 0 #2196F3;
	box-shadow: inset 0 -1px 0 black;
	color: black;
	border-bottom: 1px solid black !important;
}

.nav-tabs .container .nav-link.active,
.nav-tabs .container .nav-link.active:focus,
.nav-tabs .container .nav-link.active:active {
	border: none;
	-webkit-box-shadow: inset 0 -1px 0 #2196F3;
	box-shadow: inset 0 -1px 0 red;
	color: red;
	border-bottom: 1px solid red !important;
}

.hide-div {
	display: none;
}

.list-group-item {
	border-radius: 0px !important;
	height: 45px;
	cursor: pointer;
}

.list-group-item-center {
	text-align: center;
}

.list-group-item.active {
	background-color: #ff3232;
	border-color: #ff3232;
	color: #fff !important;
}

.col-horiz-reduce-pad {
	padding-left: 1px;
	padding-right: 0px;
}

.card-nav-suit {
	height: 16px;
	width: 16px;
}

.diamond-list-group {
	line-height: 1.4;
}

a:not([href]):not([tabindex]) {
	/* color: inherit; */
	text-decoration: none;
}

.practice-button-start {
	width: 200px;
}

.background-card {
	position: absolute;
}

.next-card-go {
	position: absolute;
	margin-top: -260px;
	margin-left: 500px;
}

.next-flash-card-go {
	position: absolute;
	margin-top: -355px;
	margin-left: 360px;
}

.card-memory-main {
	min-height: 480px;
}

.recall {
	margin-top: 150px;
}

.mistakes {
	text-align: center;
}

.mistake {
	color: red;
	font-size: 20px;
	padding: 0px 3px 0px 3px;

}

.timer-bar {
	padding: 15px;
	width: 134px;
/*	height: 170px;*/
}

.scoreboard-col {
	padding: 0px 30px 0px 30px;
}

.field-close-btn {
	font-size: 25px;
	margin-top: 16px;
	margin-left: -12px;
	cursor: pointer;
}
