.nav-tabs {
	border-bottom: 1px solid #ddd;
}

.nav-tabs .container .nav-link:active,
.nav-tabs .container .nav-link:hover {
	border: none;
	-webkit-box-shadow: inset 0 -2px 0 #2196F3;
	box-shadow: inset 0 -2px 0 black;
	color: black;
}

.nav-tabs .container .nav-link.active, 
.nav-tabs .container .nav-link.active:focus,
.nav-tabs .container .nav-link.active:active {
	border: none;
	-webkit-box-shadow: inset 0 -2px 0 #2196F3;
	box-shadow: inset 0 -2px 0 red;
	color: red;
}

.hide-div {
	display: none;
}

.list-group-item {
	border-radius: 0px !important;
	height: 45px;
	cursor: pointer;
}

.list-group-item-center {
	text-align: center;
}

.list-group-item.active {
	background-color: #ff3232;
	border-color: #ff3232;
	color: #fff !important;
}

.col-horiz-reduce-pad {
	padding-left: 1px;
	padding-right: 0px;
}

.card-nav-suit {
	height: 16px;
	width: 16px;
}

.diamond-list-group {
	line-height: 1.4;
}

a:not([href]):not([tabindex]) {
	/* color: inherit; */
	text-decoration: none;
}