.logo {
	height: 32px;
	width: 32px;
	margin-right: 5px;
}

.nav-link {
	outline: none;
}

.login-nav {
	/* prevents large alerts list from overlapping buttons */
	z-index: 100;
}

button {
	background: inherit;
	color: inherit;
	border: inherit; 
	padding: inherit;
	font: inherit;
	cursor: pointer;
}