.card {
	width: 290px;
	border-radius: 8px;
}

.card-text {
	font-size: 11px;
}

.card.no-border {
	border-radius: 0px;
}

.bg-active-light, 
.bg-light-hover:hover {
	box-shadow: 0px 0px 2px 4px rgba(50, 153, 255, 0.3);
}
.bg-active-dark, 
.bg-dark-hover:hover {
	box-shadow: 0px 0px 6px 1px #3299FF;
}

.card-div {
	height: 170px;
}

.card-image {
	margin: 0 auto;
	max-height: 170px !important;
}

.card-header, .card-footer {
	background-color: transparent;
	font-size: 24px;
}

.top-suit {
	margin-top: -4px;
	margin-left: 2px;
}

.bottom-suit {
	margin-top: -4px;
	margin-right: -44px;
}

.col-form-label {
	font-size: 14px;
}

.card-animate {
  -vendor-animation-duration: 1s;
}