body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button, .btn, span {
	outline: none !important;
}

.App {
}

.AppContent {
	padding: 10px 0px 10px 0px;
}

.alerts {
	padding: 10px 0px 10px 0px;
}

.btn {
	border-radius: 0px;
}

.nav-link {
	cursor: pointer;
}